section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 0 10vw 0;
}

#cart {
  position: relative;
  font-size: 30px;
  color: rgb(53, 53, 53);
  border: none;
  background-color: #ffffff;
  max-width: fit-content;
  cursor: pointer;
  display: none;
}

main #cart span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  font-size: 14px;
  top: 50%;
  right: -10px;
  display: none;
}

.cartTab {
  background-color: #abc6ff;
}

.cartTab img {
  width: 10vw;
}

.cartTab span {
  font-family: poppins;
  font-size: 18px;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.listCart .quantity span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  color: rgb(53, 53, 53);
  border-radius: 50%;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #ffffff;
}

.listCart .item:nth-child(even) {
  background-color: #c6d8fa;
}

.listCart {
  overflow: auto;
}

.quantity .minus {
  cursor: pointer;
}
.quantity .plus {
  cursor: pointer;
}

.item button {
  font-family: poppins;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

fieldset {
  width: 800px;
  margin: 0 0 2vw 0;
}

fieldset legend h1 {
  font-family: poppins;
  font-weight: 200;
}

fieldset legend {
  font-family: poppins;
  font-weight: 500;
  font-size: 24px;
}

.subtotal-price #total-price {
  font-family: poppins;
  font-size: 18px;
}

p {
  font-family: poppins;
  font-weight: 400;
}

#contact-information {
  display: grid;
  grid-template-rows: 1fr;
}

#contact-information input {
  max-width: 200px;
}

#contact-information label {
  font-family: poppins;
  font-weight: 300;
}

#payment {
  display: grid;
  grid-row: 1fr;
}

#payment input {
  max-width: 200px;
}

#payment label {
  font-family: poppins;
  font-weight: 300;
}

.submit-button input {
  background-color: #abc6ff;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  font-family: poppins;
  font-weight: 600;
  margin: 0 0 2vw 0;
  cursor: pointer;
}

.pyntelinje {
  margin: 0 0 2vw 0;
}

.date-cvv {
  margin: 0 0 2vw 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none; /* Skjul innholdet til loaderen er borte */
}
