header {
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

button {
  cursor: pointer;
  background-color: #ffffff;
  font-family: poppins;
  border-radius: 5px;
  padding: 0.5vw;
}

#filter-butn {
  max-width: 10vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shop {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-button {
  background-color: #abc6ff;
  color: rgb(53, 53, 53);
  border: none;
  padding: 1vw 5vw 1vw 5vw;
  cursor: pointer;
  font-size: 1.2vw;
  border-radius: 5px;
  max-width: 10vw;
}

.filter-button p {
  margin: 0;
  padding-right: 1.5vw;
  font-family: sans-serif;
  font-weight: 100;
}

.filter-button i {
  font-size: 1.2vw;
}

#filter-select {
  display: none;
  background-color: #abc6ff;
  width: 100%;
  padding: 3vw 0 2vw 2vw;
}

#filter-select select,
#filter-select button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  font-size: 1.2vw;
  margin: 0vw 0 1vw 2vw;
  background-color: #ffffff;
  border-color: black;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
}

#filter-select button {
  background-color: #ffffff;
  color: rgb(53, 53, 53);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}

#filter-select input,
#filter-select label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 10px 10px;
  font-size: 14px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

select {
  width: 75%;
  font-size: 1.2vw;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  background-color: #ffffff;
  font-family: poppins;
}

#product select {
  max-width: 200px;
  border-radius: 5px;
}

.on-sale-button {
  display: flex;
  align-items: center;
  max-width: 75%;
  margin: 1vw 0 1vw 2vw;
  color: rgb(53, 53, 53);
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-size: 48px;
  margin-top: 5vw;
}

p {
  color: #000000;
  font-size: 18px;
  font-family: poppins;
}

#filter-cart {
  display: grid;
  grid-template-columns: 8fr 1fr;
}

#filter-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#filter-cart #cart {
  position: relative;
  font-size: 36px;
  color: rgb(53, 53, 53);
  border: none;
  background-color: #ffffff;
  max-width: fit-content;
}

main #cart span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  font-size: 14px;
  top: 50%;
  right: -10px;
}

.jacket-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 10vw 15vw 0 15vw;
  gap: 15vw;
}

.jacket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jacket-grid img {
  height: 20vw;
  /* width: 20vw;
  max-width: 300px; */
}

#jackets a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.jacket-discount {
  text-decoration: line-through;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  max-width: 90vw;
  margin: auto auto 10vw auto;
  text-align: center;
  padding-top: 10px;
  font-family: "poppins";
  transition: transform 0.5s;
}

.container img {
  max-height: 500px;
}

.cartTab {
  width: 400px;
  max-height: 900px;
  background-color: #abc6ff;
  color: rgb(53, 53, 53);
  position: fixed;
  inset: 0 -41vw 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: transform 0.5s;
}

main.showCart.cartTab {
  inset: 0 0 0 auto;
}

body .showCart .container {
  transform: translateX(-320px);
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-family: "poppins";
  font-weight: 300;
  font-size: 36px;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn Button {
  background-color: #ffffff;
  border: none;
  font-family: "poppins";
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btn a {
  text-decoration: none;
  color: #000000;
}

.cartTab .btn .close {
  background-color: #ffffff;
}

.cartTab .listCart .item img {
  width: 100%;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.listCart .quantity span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  color: rgb(53, 53, 53);
  border-radius: 50%;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #ffffff;
}

.listCart .item:nth-child(even) {
  background-color: #c6d8fa;
}

.listCart {
  overflow: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

.quantity .minus {
  cursor: pointer;
}
.quantity .plus {
  cursor: pointer;
}

.item button {
  font-family: poppins;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.jacket-container select {
  background-color: #ffffff;
  border-radius: 5px;
  font-family: poppins;
}

.jacket-container select option {
  font-family: poppins;
}

.jacket-container button {
  background-color: #ffffff;
  border-radius: 5px;
  font-family: poppins;
  height: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none; /* Skjul innholdet til loaderen er borte */
}
